.backgroup-layout{
	background-image: linear-gradient(to right top, #2f3339, #25383f, #1c3d3c, #234130, #374120);
	min-height: 100vh;
}

.container{
	margin: auto;
	max-width: 1200px;
	padding: 20px;
}
